<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
        aria-expanded="false">
        Renk
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <div class="mb-3">
            <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="marka ara">
        </div>
        <li [class]="getAllColorClass()" routerLink="/cars">Tüm Renkler</li>
        <li (click)="setCurrentColor(color)" routerLink="/cars/color/{{color.colorId}}"
            [class]="getCurrentColorClass(color)" *ngFor="let color of colors  | filterPipeColor:filterText">
            {{color.colorName}}
        </li>

    </ul>
</div>

<h5 *ngIf="currentColor">{{currentColor.colorName}}</h5>