<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
        aria-expanded="false">
        Renk
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li [class]="getAllColorClass()" routerLink="/cars">Tüm Renkler</li>

        <li (click)="setCurrentColor(color)" routerLink="/cars/color/{{color.colorId}}"
            [class]="getCurrentColorClass(color)" *ngFor="let color of colors">
            {{color.colorName}}
        </li>

    </ul>
</div>

<h5 *ngIf="currentColor">{{currentColor.colorName}}</h5>