<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
        aria-expanded="false">
        Marka
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <div class="mb-3">
            <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="marka ara">
        </div>

        <li (click)="setCurrentBrand(brand)" routerLink="/cars/brand/{{brand.brandId}}"
            [class]="getCurrentBrandClass(brand)" *ngFor="let brand of brands | filterPipeBrand:filterText">
            {{brand.brandName}}
        </li>
    </ul>
</div>